.log {
  &__container {
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
    color: white;
    font-size: 12px;

    &-wrong {
      background-color: red;
    }

    &-correct {
      background-color: darkslategrey;
      color: white;
    }

    &:hover {
      background-color: black;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-index {
      flex: 1%;
    }

    &-hand {
      flex: 32%;
    }
    &-playerhold {
      flex: 26%;
    }
    &-trainerhold {
      flex: 26%;
    }
    &-outcome {
      flex: 10%;
    }
  }
}
