.navbar {
  background-color: black;
  display: flex;
  justify-content: flex-start;

  &__link {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    text-align: center;
    flex: 1;

    &:hover {
      background-color: whitesmoke;
      color: black;
    }
  }
}
