.paytable {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;

  @include tablet {
    margin: 25px 0 25px 0;
  }

  &__outer-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      width: auto;
    }
  }

  &__hand-title {
    font-weight: bold;
    text-align: center;
  }
}
