.trainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
  }

  &__tip {
    font-size: 1.5em;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__hold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5vw;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
  }

  &__hold-active {
    background-color: orange;
  }
}
